@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: white;   
}

.home-header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url("assets/home-header.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url("assets/about-header.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative; 
}

.gallery-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("assets/gallery-header.jpg"); 
    background-size: cover;
    background-position: center;  
    position: relative;     
}

.contact-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("assets/difference-img1.jpg"); 
    background-size: cover;
    background-position: center;       
}

.single-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("assets/single-img1.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative; 
}

.micro-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("assets/micro-img1.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative; 
}

nav a.active{
    color:#ff3f3f ;
}
.familyduo-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("assets/rgallery-5.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative; 
}

.family-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("assets/family-img1.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative; 
}

.duplex-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("assets/duplex-img1.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative; 
}

.duo-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("assets/duo-img1.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative; 
}

.rooms-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("assets/duplex-img1.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative; 
}

.single-img1{
    background-image:url("assets/single-img1.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative; 
    height: 180px;
}

.duo-img1{
    background-image:url("assets/duo-img1.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative; 
    height: 180px;
}

.duplex-img1{
    background-image:url("assets/duplex-img1.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative; 
    height: 180px;
}

input{    
    
    box-shadow: 0 1px 1rem -9px #000;
}

.box-shadow{    
    
    box-shadow: 0 1px 1rem -9px #000;
}

.faq{    
    
    box-shadow: 0 1px 1rem -10px #000;
}

