@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: white;   
}

.activity{
    background-image: url("assets/image.jpg"); 
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;  
}

.difference_img1{
    background-image: url("assets/image.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative; 
   
}

.difference_img2{
    background-image: url("assets/image.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative;      
}

.img-1{    
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle();    
}

.img{    
    object-fit: cover;
    height: 100px; 
    width: 100px;    
}

.image{    
    width: 100%;
    object-fit: cover;    
}

input{    
    
    box-shadow: 0 1px 1rem -9px #000;
}

.box-shadow{    
    
    box-shadow: 0 1px 1rem -9px #000;
}

.faq{    
    
    box-shadow: 0 1px 1rem -10px #000;
}

.location-image{    
    background-image: url(assets/image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

